/* ---- customize styles here ---- */

.parallax-slider{
	height: 704px;

	@media (min-width: 979px) and (max-width: 1200px) {
		height: 500px;
	}

	@media (min-width: 768px) and (max-width: 979px) {
		height: 500px;
	}

	@media (max-width: 767px) {
		height: 400px;
	}

	#mainCaptionHolder{
		.container {
			position: absolute;
			top: auto;
			right: auto;
			bottom: 50px;
			left: 50%;
			width: 730px;
			margin: 0 0 0 -365px;

			@media (min-width: 768px) and (max-width: 979px) {
				width: 500px;
				margin: 0 0 0 -250px;
			}

			@media (max-width: 767px) {
				width: 440px;
				margin: 0 0 0 -220px;
			}

			@media (max-width: 480px) {
				width: 280px;
				margin: 0 0 0 -140px;
			}

		}
		.slider_caption {
			background: url(images/caption.png) repeat 50% 0%;
			padding: 43px 80px 40px 80px;
			letter-spacing: -0.7px;
			line-height: 36px;
			font-family: @SansFontFamily;
			font-size: 30px;
			font-weight: 600;
			font-style: italic;
			text-align: center;
			color: #fff;

			@media (min-width: 768px) and (max-width: 979px) {
				padding: 30px 50px 30px 50px;
				line-height: 31px;
				font-size: 25px;
			}

			@media (max-width: 767px) {
				padding: 20px 30px 20px 30px;
				line-height: 25px;
				font-size: 20px;
			}

			@media (max-width: 480px) {
				padding: 15px 20px 15px 20px;
				line-height: 20px;
				font-size: 16px;
			}

			i {
				display: block;
				margin: 0 0 -3px 0;
				padding: 0;
				letter-spacing: 0.5px;
				line-height: 48px;
				font-family: @AsapFontFamily;
				font-size: 48px;
				font-weight: 400;
				font-style: normal;

				@media (min-width: 768px) and (max-width: 979px) {
					margin: 0 0 5px 0;
					line-height: 38px;
					font-size: 38px;
				}

				@media (max-width: 767px) {
					margin: 0 0 5px 0;
					line-height: 30px;
					font-size: 30px;
				}

				@media (max-width: 480px) {
					margin: 0 0 5px 0;
					line-height: 20px;
					font-size: 20px;
				}

				&:before {
					display: inline-block;
					margin: 5px 10px 0 0;
					vertical-align: top;
					font-family: FontAwesome;
					content: '\f095';

					@media (max-width: 767px) {
						margin-top: 2px;
					}

					@media (max-width: 480px) {
						margin-top: 2px;
					}

				}

			}

			a {
				text-decoration: none;
				color: #fff;

				&:focus {
					text-decoration: none;
					color: #fff;
				}

				&:hover {
					text-decoration: none;
					color: @linkColorHover;
				}

			}

		}
	}
	
	.controlBtn {
		width: 55px;
		height: 55px;
		margin-top: -28px;
		
		.innerBtn{				
			font-size: 31px;
			line-height: 55px;
			color: #a9a9a9;
			background: #fff;
		}
		.slidesCounter{
			font-size: 16px;
			line-height: 55px;
			color: #fff;
			background: @linkColorHover;
		}
	}
	.controlBtn:hover {
		.innerBtn{
			color: #fff;
			background: @linkColorHover;
		}
	}
	
	.parallaxPrevBtn, .parallaxNextBtn {
		.transition(all 0.5s ease);
	}
	.parallaxPrevBtn {
		left: -55px;
	}
	.parallaxNextBtn {
		right: -55px;
	}
	&:hover {
		.parallaxPrevBtn{
			left:0;
		}
		.parallaxNextBtn{
			right:0;
		}
	}
	
	#paralaxSliderPagination{
		background: #fff;
		padding: 13px 0 13px 0;
		right: 0;
		bottom: 0;
		left: 0;
		
		&.buttons_pagination{

			ul {
				margin: 0;
				padding: 0;

				li {
					background: #cecece;
					display: inline-block;
					width: 12px;
					height: 12px;
					margin: 0 4px 0 3px;
					vertical-align: top;
					.border-radius(50%);
					.transition(0.8s);

					&:focus {
						background: #cecece;
						.transition(0.4s);
					}
					
					&:hover, &.active{
						background: @linkColor;
						.transition(0.4s);
					}

				}

			}

		}
		&.images_pagination{
			ul{
				li{
					margin: 3px;
					opacity:.5;
					
					&:hover, &.active{
						opacity:1;
					}
				}
			}
		}
	}
	
	.parallax-slider-video-progress {
		background:@linkColor;
	}
	
	#previewSpinner{	
		width: 50px;
		height: 50px;
		margin-left: -25px;
		margin-top: -25px;
		border-radius: 25px;
		background: url(parallax-slider/img/spinner.GIF) 50% 50% #fff no-repeat;
	}
}



/* ---- necessary slider settings  ---- */
/* ---- without the need doesn't change anything  ---- */

.parallax-slider{
	overflow: hidden;
	position:relative;
	-ms-transform: translateZ(0);
	transform: translateZ(0);

	.baseList{
		display: none;
	}
	
	.parallax-slider-video-progress-bar {
		position:absolute;
		overflow:hidden;
		top:0;
		left:0;
		width:100%;
		height:8px;
		background:url(parallax-slider/img/loader.gif) 0 0 repeat-x;
		z-index:5;
	}
	.parallax-slider-video-progress {
		width:0;
		height:100%;
		
		-webkit-transition: all .5s;
		   -moz-transition: all .5s;
			 -o-transition: all .5s;
				transition: all .5s;
	}
	
	.parallax-slider-vimeo-video {
		overflow:hidden;
		
		.parallax-slider-vimeo-iframe{
			margin-top:-100px;
			max-width:none;
		}
	}
	
	#mainImageHolder{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 1;
		
		.primaryHolder, .secondaryHolder{
			position: absolute;
			width: 100%;
			top: 0;
			left: 0;
			
			.obj-inner {
				max-width: inherit;
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
			}
		}
		.primaryHolder{
			
		}
		.secondaryHolder{
			
		}		
	}
	
	
	#mainCaptionHolder{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 2;
		
		>a{
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
		}
		
		.primaryCaption, .secondaryCaption {
			position: absolute;
			width: 100%;
			top:0;
			left:0;
		}
	}
	
	
	.controlBtn{
		position: absolute;
		cursor: pointer;
		display: block;
		top: 50%;
		z-index: 2;
		
		.innerBtn{
			.transition(all 0.3s ease);
			position: relative;
			display:block;
			width: 100%;
			height: 100%;
			text-align: center;
			z-index: 1;
		}
		.slidesCounter{
			.transition(all 0.3s ease);
			position: absolute;
			top: 0;
			width: 60%;
			height: 100%;
		}
		
		&.parallaxPrevBtn{
			.slidesCounter{
				left: 0%;
				text-align:left;
			}
			&:hover{
				.slidesCounter{
					left: 100%;
				}
			}
		}
		&.parallaxNextBtn{
			.slidesCounter{
				right: 0%;
				text-align:right;
			}
			&:hover{
				.slidesCounter{
					right: 100%;
				}
			}
		}
	}
	
	
	#paralaxSliderPagination{		
		position: absolute;
		width: 100%;
		text-align: center;
		z-index: 2;
		
		ul{
			list-style: none;
			margin: 0;
			
			li{
				.transition(all 0.5s ease);
				cursor: pointer;
				display: inline-block;
			}
		}
	}
	
	
	#previewSpinner{	
		position: absolute;
		display: block;
		top: 50%;
		left: 50%;
		z-index: 99;
	}
	
	
	&.zoom-fade-eff{
		#mainImageHolder{
			.primaryHolder{
				.opacity(100);
				.scale(1);
					&.animateState{
						.opacity(0);
						.scale(3);
					}
			}
			.secondaryHolder{
				.opacity(100);
					&.animateState{
						.opacity(0);
					}
			}
		}
		#mainCaptionHolder{
			.primaryCaption{
				.opacity(100);
					&.animateState{
						.opacity(0);
					}
			}
			.secondaryCaption{
				.opacity(100);
					&.animateState{
						.opacity(0);
					}
			}
		}
	}
	&.simple-fade-eff{
		#mainImageHolder{
			.primaryHolder{
				.opacity(100);
					&.animateState{
						.opacity(0);
					}
			}
			.secondaryHolder{
				&.animateState{
					.opacity(100);
						&.animateState{
							.opacity(0);
						}
				}
			}
		}
		#mainCaptionHolder{
			.primaryCaption{
				.opacity(100);
				.scale(1);
					&.animateState{
						.opacity(0);
					}
			}
			.secondaryCaption{
				.opacity(100);
					&.animateState{
						.opacity(0);
					}
			}
		}
	}
	&.slide-top-eff{
		#mainImageHolder{
			.primaryHolder{
				top: 0;
					&.animateState{
						top: -100%;
					}
			}
			.secondaryHolder{
				&.animateState{
					top: 0;
						&.animateState{
							top: 100%;
						}
				}
			}
		}
		#mainCaptionHolder{
			.primaryCaption{
				.opacity(100);
				.scale(1);
					&.animateState{
						.opacity(0);
					}
			}
			.secondaryCaption{
				.opacity(100);
					&.animateState{
						.opacity(0);
					}
			}
		}
	}
}